.sidebar {
    position: fixed;
    top: 50px;
    width: 240px;
    background: $component1;
    height: calc(100svh - 50px);
    padding: 20px;

    &__title {
        padding: 10px 0 20px 0;
        font-size: 1rem;
        font-weight: 500;
    }

    @include max-width(sm) {
        width: 40px;
        padding: 5px;
        &__title {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}