.preview {
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    position: relative;
    min-height: 220px;
    max-width: 600px;

    @include min-width(912px) {
        width: calc(50% - 15px);
    }


    &__stream {
        /* border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; */
        max-width: 100%;
        overflow: hidden;
        width: 100%;
        img {
            display: block;
            object-position: center;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__info-box {
        overflow: hidden;
        top: 0;
        bottom: 0;
        /* border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; */
        max-height: 100%;
        width: 160px;
        z-index: 0;
        position: relative;
        height: 100%;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        }
        & > img {
            max-height: 100%;
            object-fit: cover;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
        }

    }

    .preview__infos {
        color: $bg-text;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        z-index: 1;
        position: relative;
        overflow: hidden;
        bottom: 10px;
        max-width: 100%;
        padding: 0 5px;
        .preview__streamer {
            max-width: 100%;
        }
        .streamer__pic {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            margin: auto;
            display: block;
            margin-bottom: 10px;
        }
        .streamer__name, .preview__name {
            text-align: center;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .streamer__name {
            font-weight: 700;
        }
    }
}