.results {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        max-width: 100%;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 30px;
        justify-content: center;
        max-width: 100%;
    }

    &__card {
        display: flex;
        padding: 5px 30px 5px 5px;
        border-radius: 50px 5px 5px 50px;
        position: relative;
        figure {
            border-radius: 100%;
            overflow: hidden;
            margin-right: 15px;
            img {
                width: 90px;
                height: auto;
                aspect-ratio: 1/1;
                display: block;
            }
        }
        figcaption {
            margin: 5px 0 30px 0;
        }

        .results__status {
            position: absolute;
            top: auto;
            bottom: 5px;
            right: auto;
            left: 70px;
            @extend %live-tag;
        }
    }

    &__error {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 120px);
        h1 {
            color: transparentize($primary, .85);
            font-size: 100px;
            position: relative;
            bottom: -30px;
            -webkit-text-stroke: 1px transparentize($primary, .75);
        }
        & > * {
            text-align: center;
        }

        p {
            line-height: 1.5;
        }
        .cta {
            margin-top: 50px;
            margin-left: 7.5px;
        }

        .results__return {
            font-size: 18px;
        }
    }
}