/* colors */
$bg1: #FCFCFC;
$bg2: #F9F9F9;
$component1: #F0F0F0;
$border1: #D9D9D9;
$border2: #D9D9D9;
$solid1: #8D8D8D;
$solid3: #838383;

$shadow1: rgba(0, 0, 0, 0.1);

$main-txt: #202020;

$primary: #6441a4;

$breakpoints: ('mb': 360px, 'xs': 420px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1086px, 'xxl': 1200px, 'xxxl': 1368px);
